// Place all the styles related to the public::CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table th, table td {
  border: solid 2px grey;
}
.cart-page {
  width: 1000px;
  margin: 0 auto;
}
.cart-table {
  margin: 0 auto;
}
.cart-table th, .cart-table td {
  padding: 5px;
}
.cart-destroy-btn {
  float: right;
}
.total-amount-table {
  float: right;
}
.total-amount-table td {
  padding: 5px;
}
.next-step {
  width: 180px;
  margin: 100px auto;
}
.cart-page-under {
  margin-top: 20px;
}