// Place all the styles related to the public::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-page{
  width: 800px;
  margin: 0 auto;
}
.mypage-table {
  margin: 20px auto;
}
.mypage-table td {
  padding: 10px;
}

.chapter-title{
  size: 16px;
  padding: 2px;
  line-height: 2.0;
  font-weight: bold;
}
.chapter-table td {
  border: 0px none;
  padding: 10px;
}

//ユーザー編集ページ///////////////
.user-edit-page{
  width: 800px;
  margin: 0 auto;
}
.user-edit-table{
  width: 700px;
  margin: 0 auto;
}
.user-edit-table td{
  border: 0px none;
  padding: 10px;
}
.save-btn {
  margin-right: 150px;
}
//ユーザー退会確認画面////////////
.user-exit-page {
  witdh: 600px;
  margin: 100px auto;
  text-align: center;
}
.exit-btn {
  margin-right: 20px;
}
.exit-message {
  padding-bottom: 30px;
  font-weight: bold;
}