// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.first-page {
  width: cover;
}
.top-image {
  width: 500px;
  margin: 0 auto;
}
.explain-image {
  position: relative;
}
.explain-image p {
  position: absolute;
  color: white;
  top: 80px;
  left: 30px;
  font-weight: bold;
  font-size: 18px;
}
.new-item-list {
  padding-top: 30px;
  width: 660px;
  margin: 0 auto;
}
.new-item-table td {
  border: 0px none;
}
.link-items {
  width: 800px;
  margin: 0 auto;
}
.go-to-items {
  float: right;
}


//About///////////////////////
.about-page {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
