// Place all the styles related to the public::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-index-page {
    width: 1000px;
    margin: 0 auto;
}
.item-menu {
    display: inline-block;
}
/////////////////////商品詳細ページ
.item-show-page {
    width: 850px;
    margin: 0 auto;
}
.show-exam {
    height: 300px;
}
.item-image {
    float: left;
    padding-right: 30px;
}
.explain {
    float: left;
}
.explain td, .explain th {
    border: 0px none;
}
.search-form {
    clear: both;
}