// Place all the styles related to the admin::Genre controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.genre-index-page {
  width: 600px;
  margin: 0 auto;
}
.genre-add-table th {
  border: 0px none;
}
.genre-table {
  margin-top: 50px;
  width: 400px;
}
.genre-table th, .genre-table td {
  border-width: 2px 0 2px 0;
  border-color: #DDDDDD;
}