// Place all the styles related to the admin::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-table th, .order-table td {
    border-right: 0px none;
    border-left: 0px none;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}