// Place all the styles related to the admin::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-exam {
  width: 920px;
  margin: 0 auto;
  line-height: 30px;
}
.user-information {
  margin-bottom: 20px;
}
.cart-information {
  margin-right: 30px;
}
.user-information td {
  height: 20px;
  padding: 10px;
}
.cart-information td, .cart-information th {
  border: 0px none;
  padding: 10px;
}
.charge-information {
  position: absolute;
  left: 650px;
  bottom: 0;
}
.charge-information th {
  border: 0px none;
}
.u-page {
  display: flex;
  position: relative;
}